<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
  </head>
  <body>
    <div>
      <h1>Регистрация на сайте</h1>
      <p>Привет</p>
      <p>Тебя пригласили на RedmanPortfolio - теперь ты можешь заполнить там свой аккаунт и хранить свои проекты (и еще продавать их ;-))</p>
      <p>Кликни <a href="http://0.0.0.0:8000/auth/confirm?token={{token}}">сюда</a> чтобы заполнить данные о себе</p>
      <p>Если ссылка выше не сработала, то вот прямая ссылка:</p>
      <a href="http://0.0.0.0:8000/auth/confirm?token={{token}}">http://0.0.0.0:8000/auth/confirm?token={{token}}</a>
    </div>
  </body>
</html>
